.parallaxBackgroundImage {
  height: 50%;
  width: auto;
}

.securityHeader {
  background-image: url("../../static/img/security.jpg");
  height: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 70px 0;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerText {
  padding-top: 5%;
  padding-right: 1rem;
  font-size: 2em;
  color: white;
}

.headerSubtitle {
  font-size: 1em;
  color: white;
}
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailChimpContainer {
  position: absolute;
  right: 20px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  place-content: center;
}

.section {
  margin: 1rem;
  grid-gap: 30px;
}

.features {
  align-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 33% 33% 33%;
}

.featureImage {
  height: 200px;
  /*width: 200px;*/
  /*border-radius: 50%;*/
}

.mainImage {
  height: 400px;
  width: 200px;
}
